# Entorno virtual
flask-store-rest-venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de editores
.vscode/
.idea/

# Archivos de log y temporales
*.log
*.bak
*.swp

# Archivos de configuración local
.env
instance/store.db
